.example-card {
    max-width: 400px;
}

.example-header-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

mat-card {
    margin-bottom: 20px;
}

mat-chip {
    user-select: none;
}

.invisible {
    opacity: 0;
    width: 0;
    height: 0;
}

.chips.right {
    margin: 0 2px 0 auto;
    white-space: nowrap;
}

.chips.left {
    position: absolute;
    left: 0;
    margin: 0 auto 0 2px;
    white-space: pre-line;
    max-width: 160px;
    img {
        position: absolute;
        left: 0;
        border: solid 3px #143141;
    }
    mat-chip {
        padding-left: 50px;
        overflow: visible;
        max-width: 160px;
        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.description {
    border-radius: 4px;
    background: #eee;
    padding: 8px;
    display: inline-block;
    margin-top: 22px !important;
    width: calc(100% - 18px);
}

.mat-standard-chip .mat-chip-remove.mat-icon {
    font-size: 20px;
}

.mat-chip.mat-standard-chip {
    background-color: #133141;
    color: white;
    line-height: 14px;
    .mat-chip-remove {
        color: white;
    }
}

mat-card-header {
    position: relative;
}

// mat-select {
//     top: 0;
//     position: absolute;
//     z-index: 500;
// }

// mat-card {
//     position: relative;
// }
