<mat-card>
    <mat-card-header>
        <mat-chip-list selectable="false" aria-label="assignee" class="chips left assignee">
            <!-- <img mat-card-avatar class="example-header-image" [src]="task.avatar" />
            <mat-card-subtitle>
                {{ task.name }}
            </mat-card-subtitle> -->
            <mat-chip disableRipple="true" (removed)="openAssigneeSelect()">
                    <img mat-card-avatar class="example-header-image" [src]="task.avatar" />
                    <span>{{ task.name }}</span>
                    <mat-icon *ngIf="isManager" matChipRemove>expand_more</mat-icon>
            </mat-chip>
        </mat-chip-list>
        <mat-form-field class="invisible" [formGroup]="assigneeForm">
            <mat-select formControlName="assignee" #assignee >
                <mat-option *ngFor="let dev of developers" [value]="dev.id">{{ dev.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-card-title>{{ task.status }}</mat-card-title> -->
        <mat-chip-list selectable="false" aria-label="status" class="chips right" [formGroup]="statusForm">
            <mat-chip disableRipple="true" (removed)="openEditor()">
                {{ task.status | status }}<mat-icon matChipRemove>expand_more</mat-icon>
            </mat-chip>
            <mat-select #select class="invisible" formControlName="status" >
                <mat-option value="toDo">To Do</mat-option>
                <mat-option value="inProgress">In Progress</mat-option>
                <mat-option value="done">Done</mat-option>
            </mat-select>
        </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
        <p class="description">{{ task.title }}</p>
    </mat-card-content>
</mat-card>
