.column {
    width: 30%;
    margin: 20px;
    display: inline-block;
    float: left;
    background-color: rgba(0,0,0,.1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: inherit;
    min-width: 400px;
    @media screen and (max-width: 1320px) {
        width: inherit;
        margin: 20px 0;
        max-width: 600px;
        min-height: 120px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    min-height: calc(90vh - 300px);
    @media screen and (max-width: 1320px) {
        max-width: 600px;
    }
}

h4 {
    margin-top: 0;
    color: rgba(0,0,0,.3);
    user-select: none;
}

.developers {
    overflow-x: scroll;
    li {
        display: inline-block;
        margin-right: 20px;
    }
    .button {
        margin-top: 10px;
    }
    .button .selected {
        background-color: #143141;
        color: white;
    }
}