<ul class="developers" *ngIf="isManager$ | async">
    <li>Developers:</li>
    <li class="button"><button mat-stroked-button routerLink="/tasks" [ngClass]="{ 'selected': !filterByDeveloperId }">All</button></li>
    <li *ngFor="let dev of (developers$ | async)" class="button" >
        <button mat-stroked-button [routerLink]="'/tasks/' + dev.id" routerLinkActive="selected">{{ dev.name }}</button>
    </li>
</ul>
<div class="container tasks">
    <div class="column to-do">
        <h4>TO DO</h4>
        <u-task *ngFor="let task of (toDo$ | async)"
        [task]="task"
        [developers]="developers$ | async"
        [isManager]="isManager$ | async"
        (status)="statusChange($event)"
        (assignee)="assigneeChange($event)"
        ></u-task>
    </div>
    <div class="column in-progress">
            <h4>IN PROGRESS</h4>
            <u-task *ngFor="let task of (inProgress$ | async)"
            [task]="task"
            [developers]="developers$ | async"
            [isManager]="isManager$ | async"
            (status)="statusChange($event)"
            (assignee)="assigneeChange($event)"
            ></u-task>
    </div>
    <div class="column done">
            <h4>DONE</h4>
            <u-task *ngFor="let task of (done$ | async)"
            [task]="task"
            [developers]="developers$ | async"
            [isManager]="isManager$ | async"
            (status)="statusChange($event)"
            (assignee)="assigneeChange($event)"
            ></u-task>
    </div>
</div>