<mat-card class="card">
    <h3>Sign in to continue</h3>
    <div class="example-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput placeholder="username" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="password" type="password" formControlName="pwd">
            </mat-form-field>
            <button mat-stroked-button type="submit" [disabled]="!loginForm.valid">Sign in</button>
        </form>
    </div>
</mat-card>