.example-container {
    display: flex;
    flex-direction: column;
}

.example-container {
    mat-form-field {
        width: 100%;
    }
    button {
        float: right;
    }
}

.card {
    max-width: 400px;
    margin: 42px auto;
    padding: 80px 60px;
}


@media screen and (max-width: 640px) {
    .card {
        box-shadow: unset !important;
    }
}