/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

mat-card {
    box-shadow: 0 12px 40px rgba(0,0,0,.12) !important;
}
